<!doctype html>
<html>
<head>
    <title>Movie Watchlist</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>

  <div class="container">

    <header>
        <span> <%= user.local.email%> | </span>
        <a href="/" class="logout">Logout</a>
    </header>

    <div class="head">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6 hide" style="display:none">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %> <br>
                        <strong>email</strong>: <%= user.local.email %> <br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
        <div class="list">
          <h1 class="h1">Most Watched Movies of 2022</h1><br>
          <section class="left">
          <ul class="movieList">
          <% for(var i=0; i<movies.length; i++) {%>
            <li class="message">
                <div data-tooltip="<%= movies[i].description %>">
                <img class="album-covers" src="<%= movies[i].src %>"> </div>
                <span class="albumName"><%= movies[i].movieTitle %> </span> <br>
                <span class="artist"><%= movies[i].rating %> </span><button class='save'>➕</button>
                <span class="link"style='display:none'><%= movies[i].src %> </span>
              </li>
          <% } %>
          </ul>
        </div>
        </section>
        <h1 id="savedTitle" class="h2">Watchlist 👀</h1>
        <div class="right">
          <ol class="savedMusic queue">
          <% for(var i=0; i<savedmovies.length; i++) {%>
            <li class="movieList">
              <div style="display:none"><%= savedmovies[i]._id %></div>

              <span class="savedAlbum"><%= savedmovies[i].movieTitle %></span><br> 
              <span class="savedArtist"><%= savedmovies[i].rating%></span><br>
              <img class="savedCover" src="<%=savedmovies[i].moviePoster%>" alt="">
              <p></p>
              <button class="deleteSaved"><i class="fa fa-trash" aria-hidden="true"></i></button><br><br>
            </li>
          <% } %>
          </ol>
        </div>

<script src="main.js"></script>

</body>
</html>

